.fa-solid fa-street-view{
    animation: rotates 3s linear infinite alternate;
}
@keyframes rotates {
    from {
        transform: translateX(-0.5rem);
    }
    to{
        transform: translateX(0.5rem);
    }
}